

.a {
  text-decoration: none;
}

.link {
  display: flex;
  flex-grow: unset;
  padding: 8px;
  border-radius: 10px;

  background-color: rgba(33, 36, 40, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  z-index: 10;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.33);
  transform: skewY(0deg);
  line-height: 1.3;
  font-size: 2.5rem;
  text-align: start;
  color: #2975dc;



  }

.link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, #212428, #16181c);
  opacity: 0;
  transition: opacity 0.5s linear;
  z-index: -1;
}
