

.bodyBlock {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 50vh;
    width: 740px;
    aspect-ratio: 3/2;
    background: #212428;
    overflow: hidden;
}

.text {
    position: relative;
    color: #918fb7;
    font-weight: 900;
    font-size: 5em;
    line-height: 0.9em;
    letter-spacing: 2px;
    text-align: center;
    transform: rotate(-20deg) skewX(33deg);
}

.text:before {
    content: attr(data-text);
    position: absolute;
    top: 35px;
    left: -35px;
    color: rgba(0, 0, 0, 0.8);
    /*box-shadow: -10px 10px 10px rgba(0,0,0,0.35);*/
    text-shadow: none;
    filter: blur(8px);
    z-index: -1;
}